-# This will re-render the edit form, display an error message,
-# and scroll to the top

$('#modalWindow').html('#{j render template: 'blogs/edit'}');
$.flashAlert('An Error Occurred. Please Try Again', 'alert-alert');
$(this).scrollTop(0);
