$.flashAlert("Course not updated, fee has to be an integer (numbers only) when adding a fee", "alert-notice");
$("#fee-section")[0].scrollIntoView()
$("#feedback-msg2").text("ERROR! Fee needs to be an integer when adding a fee.");
$("#feedback-msg2").css("color", "red");