$.flashAlert("Course not updated, Either leave all inputs empty or fill in incoming qualification and grades when adding entry requirements.", "alert-alert");
$("#er-section")[0].scrollIntoView()
$("#feedback-msg3").text("ERROR! Either leave all inputs empty or fill in incoming qualification and grades when adding entry requirements.");
$("#feedback-msg3").css("color", "red");