$.flashAlert("Course not updated, All fields need to be filled or empty when adding a fee.", "alert-notice");
$("#fee-section")[0].scrollIntoView()
$("#feedback-msg2").text("ERROR! All fields need to be filled or empty when adding a fee.");
$("#feedback-msg2").css("color", "red");