$.flashAlert("Course not updated, grade can't be empty when editing existing entry requrements.", "alert-notice");
$("#er-section")[0].scrollIntoView()
$("#feedback-msg3").text("ERROR! Grade can't be empty when editing entry requirements.");
$("#feedback-msg3").css("color", "red");