$.flashAlert("Course not updated, fee has to be an integer when editing existing fees", "alert-notice");
$("#fee-section")[0].scrollIntoView()
$("#feedback-msg2").text("ERROR! Fee has to be an integer when editing fees.");
$("#feedback-msg2").css("color", "red");