$.flashAlert("Course not updated, No fields can be empty when editing existing fees", "alert-notice");
$("#fee-section")[0].scrollIntoView()
$("#feedback-msg2").text("ERROR! No fields can be empty when editing existing fees.");
$("#feedback-msg2").css("color", "red");