$.flashAlert("Course not updated, empty input in 'Main General Info'", "alert-notice");
$("#general-info")[0].scrollIntoView()
$("#feedback-msg1").text("ERROR! Empty parameter or course duration isn't an integer.");
$("#feedback-msg1").css("color", "red");
//$(this).scrollTop(0);