$.flashAlert("Course not updated, 'Course Duration' has to be an integer in 'Main General Info'", "alert-notice");
$("#general-info")[0].scrollIntoView()
$("#feedback-msg1").text("ERROR! Length isn't integer");
$("#feedback-msg1").css("color", "red");
//$(this).scrollTop(0);