%h1 Congratulations

%p
  You just subscribed to a new search on the Foundation year network website.
  When a new course is added to our database that matches this search
  you will be notified.


%p
  Have a lovely day!

%p
  ps, you can
  %a{:href => @unsubscribe} unsubscribe from this search here.
